.container {
  height: calc(100vh - 246px); /* Set the desired height for the container */
  display: flex;

  .filter-column {
    background-color: #f5f5f5;
    padding: 20px;
    width: 20%;
  }

  .tile-column {
    padding: 20px;
    width: 80%;
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .grid-item {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }
}
