.container {
  height: calc(100vh - 246px); /* Set the desired height for the container */

  .filter-column {
    background-color: #f5f5f5;
    padding: 20px;
    width: 20%;
  }

  .tile-column {
    padding: 20px;
    width: auto;
    overflow-y: auto; /* Enable vertical scrolling if needed */
  }

  .grid-container {
    width: auto;
  }

  .grid-item {
    width: auto;
    margin-bottom: 20px;
  }
}
