<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span> Lemon Teacher </span>
    <span class="spacer"></span>
    <button mat-button routerLink="/user">
      <mat-icon>person</mat-icon>
      User
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="menu-row">
    <button mat-button routerLink="/home">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <button mat-button routerLink="/forum">
      <mat-icon>forum</mat-icon>
      Forum
    </button>
    <button mat-button routerLink="/upload">
      <mat-icon>cloud_upload</mat-icon>
      Upload
    </button>
    <!-- <button mat-button routerLink="/professional-opportunities">
      <mat-icon>business</mat-icon>
      Professional Opportunities
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<button mat-fab class="chatbot-button" (click)="openChatbotDialog()">
  <mat-icon>chat</mat-icon>
</button>

<ng-template #chatbotDialog let-dialogRef>
  <div class="chatbot-dialog">
    <h2 class="chatbot-title">Chatbot</h2>
    <div class="chatbot-content">
      <p>This will have a conversational chatbot - exactly like the <a href="https://chat.openai.com/">OpenAI Chatbot</a> </p>
    </div>
    <div class="chatbot-actions">
      <button mat-button (click)="closeDialog()">Close</button>
    </div>
  </div>
</ng-template>
