<mat-card class="form-card">
  <div class="form">
    <form (submit)="onSubmit()">
      <div class="upload">
        <mat-radio-group [(ngModel)]="selectedOption" name="selectedOption">
          <mat-radio-button value="file">Upload File</mat-radio-button>
          <mat-radio-button value="link">Link</mat-radio-button>
        </mat-radio-group>

        <div *ngIf="selectedOption === 'file'">
          <div
            class="file-drop-area"
            appDragDrop
            (fileDropped)="onFileDropped($event)"
          >
            <div class="file-drop-text">
              Drag and drop files here or
              <input
                #fileInput
                type="file"
                (change)="onFileChange($event)"
                multiple
                style="display: none"
                cdkDragHandle
              />
              <button
                mat-raised-button
                color="accent"
                (click)="openFilePicker($event)"
              >
                Browse
              </button>
            </div>
            <div class="file-name" *ngIf="fileName">
              {{ fileName }}
            </div>
            <!-- Display the file name -->
          </div>
        </div>

        <div *ngIf="selectedOption === 'link'">
          <mat-form-field>
            <mat-label>Link</mat-label>
            <input matInput [(ngModel)]="material.link" name="link" />
          </mat-form-field>
        </div>
      </div>

      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="material.type" name="type">
          <mat-option *ngFor="let type of types" [value]="type">{{
            type
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Primary</mat-label>
        <mat-select [(ngModel)]="material.primary" name="primary">
          <mat-option *ngFor="let primary of primaries" [value]="primary">{{
            primary
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Subject</mat-label>
        <mat-select [(ngModel)]="material.subject" name="subject">
          <mat-option *ngFor="let subject of subjects" [value]="subject">{{
            subject
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="material.title" name="title" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          [(ngModel)]="material.description"
          name="description"
        ></textarea>
      </mat-form-field>

      <mat-chip-grid #chipList>
        <mat-chip *ngFor="let tag of material.tags" [removable]="true" (removed)="removeTag(tag)">
          {{ tag }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-grid>
      <mat-form-field>
        <mat-label>Add Tags</mat-label>
        <input matInput [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTag($event)" placeholder="Add a tag">
      </mat-form-field>
      <mat-divider></mat-divider>

      <mat-checkbox [(ngModel)]="material.acknowledgement" name="acknowledgement">
        I acknowledge that this is my own work.
      </mat-checkbox>

      <div class="submit">
        <button type="submit" mat-raised-button color="primary">Upload</button>
      </div>
    </form>
  </div>
</mat-card>
